<!--THIS IS THE TEMPLATE FOR TESTS!-->

{% extends 'base.html' %}

{% block main %}

    {% block action %}
        <h1 style="text-align:center;">{{ test }}</h1>
    {% endblock %}

    <div class="container">
        <div class="row">

            <div class="col-sm">
                <table class="table table-striped">
                    <thead>
                          <tr>
                            <th>Test info</th>
                            <th></th>
                          </tr>
                    </thead>

                    <tbody>
                          <tr>
                            <td>Description:</td>
                            <td>{{ test.description }}</td>
                          </tr>
                          <tr>
                            <td>The Number of questions:</td>
                            <td>{{ test.questions_count }}</td>
                          </tr>
                          <tr>
                            <td>The Number of runs:</td>
                            <td>{{ test.results.count }}</td>
                          </tr>
                          <tr>
                            <td>Best score:</td>
                            <td>{{ test.get_best_result }}</td>
                          </tr>
                          <tr>
                            <td>Best user by result:</td>
                            <td>&lt;&lt;{{ test.get_best_user }}&gt;&gt;</td>
                          </tr>
                          <tr>
                            <td>Last Run:</td>
                            <td>{{ test.get_time_of_best_score }}</td>
                          </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-sm" style="margin-top: 55px;">
                <div class="d-flex justify-content-center">
                    <img class="img-fluid img-thumbnail p-1 m-1" style="width:300px; height:300px;" src="{{ test.image.url }}">
                </div>

                 <form action="{% url 'tests:result_create' test.uuid %}" method="post" class="d-flex justify-content-center mt-5 mb-5" >
                        {% csrf_token %}
                        <input type="submit" class="btn-lg btn-success" value="START TEST ▶️">
                </form>
            </div>

            {% if object_list %}
            <table class="table table-striped table-hover" style="text-align:center;">
                  <tr>
                    <th>#</th>
                    <th>Create date</th>
                    <th>Write date</th>
                    <th>NOW</th>
                    <th>User</th>
                    <th>Points</th>
                    <th>State</th>
                    <th>Actions</th>
                  </tr>
                        {% for result in object_list %}
                              <tr>
                                <td>{{ page_obj.start_index|add:forloop.counter0}}</td>
                                <td>{{ result.format_create_date }}</td>
                                <td>{{ result.format_write_date }}</td>
                                <td>{{ result.show_now }}</td>
                                <td>{{ result.user }}</td>
                                <td>{{ result.points }}</td>
                                <td>{{ result.get_state_display }}</td>
                                <td width="300px;">
                                    {% if result.state == result.STATE.NEW %}
                                        <a href="{% url 'tests:result_update' test.uuid result.uuid %}" class="btn-lg btn-warning">CONTINUE</a>
                                        <a href="{% url 'tests:result_delete' test.uuid result.uuid %}" class="btn-lg btn-danger">DELETE</a>
                                    {% else %}
                                        <a href="{% url 'tests:result_delete' test.uuid result.uuid %}" class="btn-lg btn-danger">DELETE</a>
                                    {% endif %}
                                </td>
                              </tr>
                        {% endfor %}
            </table>
            {% endif %}

            <div class="p-1 m-1">{% include 'includes/pagination.html' %}</div>

        </div>
    </div>

{#                {% if continue_flag %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                            <a href="{% url 'tests:start' id=test.id %}" type="button" class="btn-lg btn-warning">CONTINUE ▶️</a>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                        <a href="{% url 'tests:start' id=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>#}
{#                    </div>#}
{#                {% endif %}#}
{#            </div>#}
    {##}
    {#        <table class="table table-hover" style="width:100%">#}
    {#            <thead class="thead-dark">#}
    {#            <tr>#}
    {#                <th>#</th>#}
    {#                <th>User</th>#}
    {#                <th>Started</th>#}
    {#                <th>Time spent</th>#}
    {#                <th>Points</th>#}
    {#            </tr>#}
    {#            </thead>#}
    {##}
    {#            {% for result in test.test_results.all %}#}
    {#            {% for result in test_results %}#}
    {##}
    {#                <tr>#}
    {#                   <td>{{ forloop.counter}}</td>#}
    {#                   <td>{{ result.user.username }}</td>#}
    {#                   <td>{{ result.write_date }}</td>#}
    {#                   <td>{{ result.time_spent }}</td>#}
    {#                   <td>{{ result.points }}</td>#}
    {#                </tr>#}
    {##}
    {#            {% endfor %}#}
    {#        </table>#}
        {#</div>#}
    {#</div>#}

{% endblock %}
