{% extends 'base.html' %}
{% load static %}



{% block main %}

    {% block action %}
        <h1 style="text-align:center;">The list of tests</h1>
    {% endblock %}

    {% if tests %}
        <table class="table table-hover" style="text-align: center; border: 1px solid black;">
            <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
{#                  <th>Level</th>#}
                  <th></th>
                </tr>
            </thead>

            {% for test in tests %}
                <tr>
                    <td><img class="img-fluid img-thumbnail p-1 m-1" width="120" height="120"  src="{{ test.image.url }}"></td>
                    <td> {{ test.title }}</td>
                    <td> {{ test.description }}</td>
{#                    <td> {{ test.get_level_display }}</td>#}
{#                    <td> <img src="{% static 'testify/levels/' %}{{ test.get_level_display }}.png" height="30px" width="40px"/> </td>#}
                    <td> <a class="btn btn-info btn-outline-success" style="color:black;" href="{% url 'tests:details' uuid=test.uuid %}">DETAILS</a></td>
                </tr>
            {% endfor %}
        </table>

        <div class="p-1 m-1">
            {% include 'includes/pagination.html' %}
        </div>
    {% else %}
        <p>No tests yet :(</p>
    {% endif %}

{% endblock %}
