{% extends 'base.html' %}
{% load custom_tags %}


{% block main %}

    <div class="container">
        {% block action %}
            <br>
<!-- {#         {% with question.order_number|add:-1|divide:question.test.questions_count|multiply:100 as progress_level %}   #}-->
           {% expression '((%1-1) / %2) * 100' question.order_number question.test.questions_count as progress_level %}
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: {{ progress_level }}%" aria-valuenow="{{ progress_level }}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

<!-- {#             {% endwith %}   #}-->
            <br>
            <h1>{{question.order_number}}. Calculate: {{ question }}</h1>

            <br>
        {% endblock %}

        <form method="post" autocomplete="off">
            {% csrf_token %}

            {{choices.management_form}}

            <div class="border-buttom mb-3">
                Please, select one of the possible choices below:
            </div>

            {% for form in choices %}
                <div class="mt-1">
                    {{ form.is_selected }} <label for="{{ form.is_selected.id_for_label }}"> {{ form.text.value }}</label>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Next</button>
        </form>

    </div>


{% endblock %}
