{% extends 'base.html' %}

{% block main %}
    {% block action %}
        <h2><br>DO YOU CONFIRM THE DELETE OF THE RESULT №{{result.id}}?<br><br></h2>
    {% endblock %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <input type="submit" class="btn btn-danger" value="DELETE">
        <a href="{% url 'tests:details' result.test.uuid %}" class="btn btn-info">UNDO DELETE</a>

    </form>
    <br>
{% endblock %}
