{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block main %}

        {% block action %}
            <h2 style="text-align: center;"><br>LEADER BOARD<br><br></h2>
        {% endblock %}

        {% if users %}
            <table class="table table-bordered border-primary" style="text-align: center;">
                <tr>
                    {% with headers='# ID Username Full_Name Points' %}
                        {% for header in headers.split %}
                            <th>{{ header }}</th>
                       {% endfor %}
                   {% endwith %}
                </tr>

                {% for user in users %}
                    <tr>
                        <td>{{ page_obj.start_index|add:forloop.counter0}}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.rating }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% include 'includes/pagination.html' %}
        {% else %}
            <h1 style="margin-right: 350pt;">No user has been registered yet.<br><br></h1>
        {% endif %}
    {% endblock %}
