<!DOCTYPE html>
<html lang="en">
{% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
              crossorigin="anonymous">
        <title>QUIZ</title>


        <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="container-fluid" style="margin-left: 290px; margin-right: 290px">
                <ul class="navbar-nav">
                    <li>
                        <img src="{% static 'images/tests_logo.png' %}" alt="icon" style="width: 100px; height: 100px;">
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}" style="margin-top: 20px;">🏠</a>
                    </li>
                    <li class="nav-item">
                        <a id="button_1" class="btn btn-outline-secondary" href="{% url 'tests:list' %}">QUIZZES</a>
                    </li>
                    <li class="nav-item">
                        <a id="button_2" class="btn btn-outline-success" href="{% url 'accounts:board' %}">LEADER BOARD</a>
                    </li>
                </ul>


                {% if user.is_authenticated %}

                <div class="navbar-nav">
                {% if user.is_superuser %}
                    <div class="nav-item">
                        <a class="btn btn-info btn-outline-danger" style="color: black; margin-top: 18px; margin-right: 15px;" aria-current="page" href="/admin/">ADMIN</a>
                    </div>
                {% endif %}
                    <div class="nav-item">
                        <a class="btn btn-success btn-outline-primary" style="color: black; margin-top: 10px; margin-right: 15px;" aria-current="page" href="{% url 'accounts:profile' %}">PROFILE<br>&lt;&lt;{{user}}&gt;&gt;</a>
                    </div>
                    <div class="nav-item">
                        <a class="btn btn-primary btn-outline-warning" style="color: black; margin-top: 18px;" aria-current="page" href="{% url 'accounts:logout' %}">LOG OUT</a>
                    </div>
                </div>

            {% else %}

                <ul class="navbar-nav">
                    <li class="nav-item" style="padding-right: 15pt;">
                        <a class="btn btn-primary btn-outline-warning" style="color: black;" aria-current="page" href="{% url 'accounts:login' %}">LOG IN</a>
                    </li>
                    <li>
                        <a class="btn btn-info btn-outline-primary" style="color: black;" aria-current="page" href="{% url 'accounts:registration' %}">SIGN UP</a>
                    </li>
                </ul>
            {% endif %}

            </div>
        </nav>

        <style>

            #button_1, #button_2{
                color: black;
                background-color: white;
                margin-top: 30px;
                margin-left: 10px;
                font-weight: bold;
            }


             body{
                  font-size: 24px;
                  font-family: Serif;
                  color: black;
                  background-color: white;

             }

        </style>

    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
                integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
                crossorigin="anonymous"></script>



        <div class="container">
            {% include 'includes/messages.html' %}
            {% block main %}
                {% block action %}{% endblock %}
            {% endblock %}
        </div>


    </body>

</html>