{% extends 'base.html' %}

{% block main %}
    {% block action %}
        <h2><br>DO YOU CONFIRM THE DELETE OF THE ACCOUNT &lt&lt{{user.username}}&gt&gt?<br><br></h2>
    {% endblock %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}

        <input type="submit" class="btn btn-danger" value="DELETE">
        <a href="{% url 'accounts:profile' %}" class="btn btn-info">UNDO DELETE</a>
    </form>
    <br>
{% endblock %}
