{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block main %}
        {% block action %}
            <h2><br>LOGIN<br><br></h2>
        {% endblock %}
        <form method='post'>
            {% csrf_token %}
            {{form|crispy}}<br>
            <input type="submit" class="btn btn-success" value="LOGIN">

        </form>
    {% endblock %}
