{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    {% block action %}
        <h2><br>LOG IN or RETURN TO THE MAIN PAGE</h2>
        <br>
    {% endblock %}

    <a class="btn btn-info btn-outline-primary" style="color: white;" href="{% url 'index' %}">HOME PAGE</a>
    <a class="btn btn-primary btn-outline-warning" href="{% url 'accounts:login' %}">LOG IN</a>
{% endblock %}
