{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>400: BAD REQUEST</title>
    </head>

    <body>
        <div class="container" style="text-align: center; font-size: 24px;">
            <img src="{% static 'images/400.png' %}" alt="400 error">
            <br>BAD REQUEST.
            <br>Please, reassure and try again later.
        </div>
    </body>
</html>
