{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>403: FORBIDDEN</title>
    </head>

    <body>
        <div class="container" style="text-align: center; font-size: 24px;">
            <img src="{% static 'images/403.png' %}" alt="403 error">
            <br>ACCESS DENIED.NOT ENOUGH CLEARANCE.
            <br>Please, return to the previous page.
        </div>
    </body>
</html>
