{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404: NOT FOUND</title>
    </head>

    <body>
        <div class="container" style="text-align: center; font-size: 24px;">
            <img src="{% static 'images/404.jpeg' %}" alt="404 error">
            <br>Something went wrong.
            <br>This page DOES NOT EXIST.
        </div>
    </body>
</html>
