{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>500: INTERNAL ERROR</title>
    </head>

    <body>
        <div class="container" style="text-align: center; font-size: 24px;">
            <img src="{% static 'images/500.png' %}" alt="500 error">
            <br>Something went wrong.
            <br>An INTERNAL SERVER ERROR occurred. Please, try again later.
        </div>
    </body>
</html>
